*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

body{
  display: flex;

  width: 100vw;
  height: 100vh;

  padding-top: 2rem;

  align-items: center;
  flex-direction: column;

  font-family: 'Manrope', sans-serif;
  background-color: var(--backgrond);

}

header{
  display: flex;

  width: 80vw;
  height: 50px;

  justify-content: space-evenly;
  align-items: center;
}

.logo {
  display: flex;

  justify-content:space-between;
  align-items: center;
}

.logo #mobile img {
  display: none;
}

.logo #buguer {
  display: none;
}

ul{
  display: flex;
  list-style: none;
}

ul li{
  margin: .5rem;
  
}

nav a{
  padding: .5rem;
  text-transform: capitalize;

  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

button{
  width: 172px;
  height: 37px;

  cursor: pointer;

  text-transform: uppercase;
  border: solid 2px var(--button);
  border-radius: 8px;
  background-color: transparent;
}

main{
  display: flex;

  height: 100%;

  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

span > h1, h2{
  text-align: center;
  font-size: 80px;
}

h2{
 text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);

 color: #000;
}

main img{
  width: 100%;
}

.text {
  display: none;
}

@media screen and (min-width: 951px) {

  div.esfera::before{
    content: '';  
    position: fixed;
  
    z-index: -1;
    top: -100px; right: -100px;
  
    width: 321px;
    height: 321px;
  
    border-radius: 100%;
    
    background-color: #996DFF;
    filter: blur(140px);
  }
  
  div.esfera::after{
    content: '';  
    position: fixed;
  
    z-index: -1;
    top: 75vh; left: -10vw;
  
    width: 321px;
    height: 321px;
  
    border-radius: 100%;
    
    background-color: #996DFF;
    filter: blur(140px);
  }

}


@media screen and (max-width: 950px) {

  header {
    justify-content: space-between;
  }

  .logo {
    width: 100%;
  }

  .logo #mobile img {
    display: block;
  }
  .logo #desktop img {
    display: none;
  }

  nav ul {
    display: none;
  }

  .logo #buguer {
    display: block;
  }

  header button{
    display: none;
  }

  main{
    gap: 3rem;
  }

  div.esfera::before{
    content: '';  
    position: fixed;
  
    z-index: -1;
    bottom: -150px; right: 10px;
  
    width: 321px;
    height: 321px;
  
    border-radius: 100%;
    
    background-color: #996DFF;
    filter: blur(140px);
  }

  span > h1, h2{
    text-align: center;
    font-size: 11vw;
  }

  .text {
    display: flex;

    width: 80vw;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    font-size: 30px;
    font-weight: 700;
  }

  .text img{
    width: 5%;
  }

}
